html, body, .container {
    height: 97vh;

}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #703d6f;
  stroke: #000;
  stroke-width: 1.5px;
}

.subreddit-chooser {
    font-family: sans-serif;
}

.subreddit-chooser p {
    display: inline-block;
    font-size: 3em;
    margin: 0;
}

.subreddit-chooser input {
    display: inline-block;
    border: 0px dotted #999;
    border-radius: 0;
    font-size: 2.5em;
}

input[type="search"]::-webkit-input-placeholder {
    opacity: 0.5;
    text-decoration: underline;
}

input[type="search"]::-moz-placeholder {
    text-decoration: underline;

}

input[type="search"]:-ms-input-placeholder {
    text-decoration: underline;
 }

#top-bar {
    color: #706482;
}

.search-bar input {
    border: 1px solid #999;
    font-size: 2.0em;
    color: #706482;
}

.search-bar {
    position: absolute !important;
    right: 0;
    bottom: 3%;
}

.zoom-bar {
    position: absolute;
    right: 0;
    bottom: 50px;
}

.list-group {
    display: inline;
    list-style: none;
}

.list-group-item {
    text-align: center;
    padding: 1px;
    border: 1px solid #999;
    background-color: #6f8b94 !important; 
}

#content-area {
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

#content-area input {
    border: 1px solid #abbb9f;
}

.ui {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 3%;
    margin: 0 1% 0 1%;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body {
    font-size: 2em;
    text-align: center;
    line-height: 115%;
}

.modal-body p {
    margin: 25px 0 25px 0;
}

a {
    color: #abbb9f;
}

.ui2 {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 3%;
    margin: 0 1% 0 1%;
}

.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden;}
.ui-helper-hidden-accessible { display:none; }

.ui-menu .ui-menu-item a{
    color: #706482;
}

ul.ui-autocomplete {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 2em;
    
}

.key {
    position: absolute;
    top: 3%;
    right: 2%;
    height: 60%;
    width: 23%;
    background-color: #f0f0a8;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.key h3 {
  color: #706482;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.key hr {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #706482;
  width: 80%;
  border-top: 1px solid #706482;
  margin-left: auto;
  margin-right: auto;
}

#key-rec {
  height: 35%;
}

#key-use {
  height: 40%;
}

.key div {
  margin-left: 10px;
  margin-right: 10px; 
}