html, body, .container {
    height: 97vh;

}

.subreddit-chooser {
    font-family: sans-serif;
}

.subreddit-chooser p {
    display: inline-block;
    font-size: 3em;
    margin: 0;
}

.subreddit-chooser input {
    display: inline-block;
    border: 0px dotted #999;
    border-radius: 0;
    font-size: 2.5em;
}

input[type="search"]::-webkit-input-placeholder {
    opacity: 0.5;
    text-decoration: underline;
}

input[type="search"]::-moz-placeholder {
    text-decoration: underline;

}

input[type="search"]:-ms-input-placeholder {
    text-decoration: underline;
 }

#top-bar {
    color: #786078;
}

.search-bar input {
    border: 1px solid #999;
    font-size: 2.0em;
    color: #786078;
}

.search-bar {
    position: absolute !important;
    right: 0;
    bottom: 3%;
}

.zoom-bar {
    position: absolute;
    right: 0;
    bottom: 50px;
}

.list-group {
    display: inline;
    list-style: none;
}

.list-group-item {
    text-align: center;
    padding: 1px;
    border: 1px solid #999;
    background-color: #789090 !important; 
}

#content-area {
    height: 90%;
}

#content-area input {
    border: 1px solid #a8c0a8;
}

.ui {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 3%;
    margin: 0 1% 0 1%;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body {
    font-size: 2em;
    text-align: center;
    line-height: 115%;
}

.modal-body p {
    margin: 25px 0 25px 0;
}

a {
    color: #a8c0a8;
}